body{
  display: flex;
  justify-content: center;
  align-items:center ;
}

// hesasba daxilol

.hesabadaxilol{
  margin-top: 1%;
  display: flex;
  gap: 10%;
  .img-index{
    left: 20px;
  
    img{
      max-height: 90vh
    }
  }
  
  .container{
      width: 550px;
      border: 1px solid #ddd;
      padding: 20px;
      box-shadow: 2px 2px 8px #aaa;
      // margin-top:2%;
  
    .up-text{
      font-weight: 400;
      font-family: Arial, Helvetica, sans-serif;
      h3{
        color: grey;
      }
    }
  
    .form-group{
      position: relative;
      background-color: transparent;
      .user-icon{
      position: absolute;
      left: 10px;
      top: 45px;
      z-index: 3;
      
      }
      .lock-icon{
        left: 10px;
        position: absolute;
        top: 45px;
        z-index: 3;
  
        }
        .eye-icon{
  
          top: 45px;
          position: absolute;
          left: 92%;
          }
  
      
      font-weight: 400;
      font-family: Arial, Helvetica, sans-serif;
      display: block;
      width: 100%;
      margin-bottom: 10px;
      color: rgb(68, 65, 65);
      .form-control{
        padding-left: 30px;
        position: relative;
        width: 450px;
        height: 30px;
        border-radius: 4px;
        margin-top: 20px;
        border: 1px solid #ddd;
        margin-top: 20px;
      }
      
    }
    .save-text{
      display: flex;
      gap: 5px;
      .forgot-password{
        margin-left:36%;
      }
      p{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(69, 68, 68);
      }
    }
    .daxilol{
      cursor: pointer;
      padding:12px 202px;
      border-radius: 4px;
      font-size: 20px;
      margin-top: 20px;
      border: 1px solid #ddd;
      margin-left: 15px;
      background-color: #1a75ff;
      color: #ddd;
      text-decoration-line: none;
      a{
        text-decoration-line: none;
        color: white;
      }
      &:hover{
        transition: .3s all ease;
      }
    }
    .yenihesab{
      cursor: pointer;
      padding:10px 160px;
      border-radius: 4px;
      font-size: 17px;
      margin-top: 20px;
      border: 1px solid blue;
      margin-left: 15px;
      margin-top: 30px;
      color:#1a75ff;
      background-color: white;
      a{
        text-decoration-line: none;
        color:#1a75ff;
      }
      &:hover{
        transition: .3s all ease;
        background-color: #1a75ff;
        a{
          color: white;
        }
      }
  
  
  
    }
    .veya{
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(149, 144, 144);
      margin-top: 25px;
      margin-left: 40%;
    }
  .social{
    .asan{
      a{
        margin-top: 10px;
        font-size: 15px;
        color: rgb(60, 58, 58);
        text-decoration-line: none;
      }
      display: flex;
      justify-content: center;
      gap: 7px;
      cursor: pointer;
      width: 453px;
      height: 40px;
      border-radius: 4px;
      border: 1px solid rgb(99, 99, 159);
      margin-left: 15px;
      margin-top: 10px;
      background-color: rgb(247, 245, 245);  
    }
    .facebook{
      a{
        margin-top: 10px;
        font-size: 15px;
        color: rgb(60, 58, 58);
        text-decoration-line: none;
      }
      display: flex;
      justify-content: center;
      gap: 7px;
      cursor: pointer;
      width: 453px;
      height: 40px;
      border-radius: 4px;
      border: 1px solid rgb(99, 99, 159);
      margin-left: 15px;
      margin-top: 10px;
      background-color: rgb(247, 245, 245);
    }
    .google{
      a{
        margin-top: 10px;
        font-size: 15px;
        color: rgb(60, 58, 58);
        text-decoration-line: none;
      }
      display: flex;
      justify-content: center;
      gap: 7px;
      cursor: pointer;
      width: 453px;
      height: 40px;
      border-radius: 4px;
      border: 1px solid rgb(99, 99, 159);
      margin-left: 15px;
      margin-top: 10px;
      background-color: rgb(247, 245, 245);
    }
  }
  
  }
}

// forgot password


.sifreniunutmusuz{
  margin-top: 2%;
  display: flex;
  .geriye{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
    position: relative;
    left: 8%;
    i{
      background-color: rgb(192, 196, 200);
      padding: 10px 10px;
      border-radius: 50%;
      color: black;
    }
  
  
  }
  
  .img-password{
    left: 20px;
    margin-top: 30px;
    left: 0px;
  
    img{
      max-height: 80vh
    }
  }
  
  .container-password{

    width: 550px;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 2px 2px 8px #aaa;
    margin-top:9%;
  
  .up-text{
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    h3{
      color: grey;
    }
  }
  
  .form-group{
    position: relative;
    background-color: transparent;
    .user-icon{
    position: absolute;
    left: 10px;
    top: 45px;
    z-index: 3;
    
    }
  
    
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    color: rgb(68, 65, 65);
    .form-control{
      padding-left: 30px;
      position: relative;
      width: 450px;
      height: 30px;
      border-radius: 4px;
      margin-top: 20px;
      border: 1px solid #ddd;
      margin-top: 20px;
    }
    
  }
  .save-text{
    display: flex;
    gap: 5px;
    .forgot-password{
      margin-left:36%;
    }
    p{
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(69, 68, 68);
    }
  }
  
  .save-text-lock{
    width: 250px;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 2px 2px 8px #aaa;
    margin-top: 4%;
    display: flex;
    gap: 5px;
    p{
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(69, 68, 68);
    }
    img{
      width: 70px;
      height: 50px;
      margin-left: 15px;
    }
    }
    
    .sifreniyenile{
    cursor: pointer;
    padding:12px 198px;
    border-radius: 4px;
    font-size: 20px;
    margin-top: 20px;
    border: 1px solid #ddd;
    margin-left: 2px;
    background-color: #1a75ff;
    color: #ddd;
    text-decoration-line: none;
    &:hover{
      padding:13px 200px;
      transition: .3s all ease;
    }
    }
  }
}

// yeni hesab

.yeni-hesab{

  margin-top: 2%;
  display: flex;

  .img-yenihesab{
    left: 20px;
  
    img{
      max-height: 90vh
    }
  }
  .geriye-yenihesab{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 8%;
    i{
      background-color: rgb(192, 196, 200);
      padding: 10px 10px;
      border-radius: 50%;
      color: black;
    }
  }
  
  .container-yenihesab{
    width: 550px;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 2px 2px 8px #aaa;
    margin-top:8%;
  
  .up-text{
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    h3{
      color: grey;
    }
  }
  
  .form-group{
    position: relative;
    background-color: transparent;
    .user-icon{
    position: absolute;
    left: 10px;
    top: 45px;
    z-index: 3;
    
    }
  
    
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    color: rgb(68, 65, 65);
    .form-control{
      padding-left: 30px;
      position: relative;
      width: 450px;
      height: 30px;
      border-radius: 4px;
      margin-top: 20px;
      border: 1px solid #ddd;
      margin-top: 20px;
    }
    
  }
  
  
  .save-text-lock{
    padding: 10px;
    margin-top: 4%;
    display: flex;
    gap: 5px;
    p{
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(69, 68, 68);
      margin-top: 6%;
    }
    }
    
    .restart{
    cursor: pointer;
    padding:12px 198px;
    border-radius: 4px;
    font-size: 20px;
    margin-top: 20px;
    border: 1px solid #ddd;
    margin-left: 2px;
    background-color: #1a75ff;
    a{
    color: #ddd;
    text-decoration-line: none;
    }
    
  
    &:hover{
      padding:13px 200px;
      transition: .3s all ease;
    }
    }
  
    .asan{
      a{
        margin-top: 10px;
        font-size: 15px;
        color: rgb(60, 58, 58);
        text-decoration-line: none;
      }
      display: flex;
      justify-content: center;
      gap: 7px;
      cursor: pointer;
      width: 510px;
      height: 40px;
      border-radius: 4px;
      border: 1px solid rgb(99, 99, 159);
      margin-left: 5px;
      margin-top: 10px;
      background-color: rgb(247, 245, 245);  
    }
    .veya-yenihesab{
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(149, 144, 144);
      margin-top: 25px;
      margin-left: 40%;
    }
  }
}





