body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hesabadaxilol {
  margin-top: 1%;
  display: flex;
  gap: 10%;
}
.hesabadaxilol .img-index {
  left: 20px;
}
.hesabadaxilol .img-index img {
  max-height: 90vh;
}
.hesabadaxilol .form {
  width: 550px;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 2px 2px 8px #aaa;
}
.hesabadaxilol .form .up-text {
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
.hesabadaxilol .form .up-text h3 {
  color: grey;
}
.hesabadaxilol .form .form-group {
  position: relative;
  background-color: transparent;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  color: rgb(68, 65, 65);
}
.hesabadaxilol .form .form-group .user-icon {
  position: absolute;
  left: 10px;
  top: 45px;
  z-index: 3;
}
.hesabadaxilol .form .form-group .lock-icon {
  left: 10px;
  position: absolute;
  top: 45px;
  z-index: 3;
}
.hesabadaxilol .form .form-group .eye-icon {
  top: 45px;
  position: absolute;
  left: 92%;
}
.hesabadaxilol .form .form-group .eye {
  top: 45px;
  position: absolute;
  left: 92%;
  display: none;
}
.hesabadaxilol .form .form-group .form-control {
  padding-left: 30px;
  position: relative;
  width: 450px;
  height: 30px;
  border-radius: 4px;
  margin-top: 20px;
  border: 1px solid #ddd;
  margin-top: 20px;
}
.hesabadaxilol .form .save-text {
  display: flex;
  gap: 5px;
}
.hesabadaxilol .form .save-text .forgot-password {
  margin-left: 36%;
}
.hesabadaxilol .form .save-text p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(69, 68, 68);
}
.hesabadaxilol .form .daxilol {
  cursor: pointer;
  padding: 12px 202px;
  border-radius: 4px;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid #ddd;
  margin-left: 15px;
  background-color: #1a75ff;
  color: #ddd;
  text-decoration-line: none;
  transition: 0.5s all;
}
.hesabadaxilol .form .daxilol:hover {
  transform: scale(1.03);
}
.hesabadaxilol .form .daxilol a {
  text-decoration-line: none;
  color: white;
}
.hesabadaxilol .form .yenihesab {
  cursor: pointer;
  padding: 10px 160px;
  border-radius: 4px;
  font-size: 17px;
  margin-top: 20px;
  border: 1px solid #1a75ff;
  margin-left: 15px;
  margin-top: 30px;
  color: #1a75ff;
  background-color: white;
  transition: 0.5s all ease;
}
.hesabadaxilol .form .yenihesab a {
  text-decoration-line: none;
  color: #1a75ff;
}
.hesabadaxilol .form .yenihesab:hover {
  background-color: #1a75ff;
}
.hesabadaxilol .form .yenihesab:hover a {
  color: white;
}
.hesabadaxilol .form .veya {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(149, 144, 144);
  margin-top: 25px;
  margin-left: 40%;
}
.hesabadaxilol .form .social .asan {
  display: flex;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
  width: 453px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgb(99, 99, 159);
  margin-left: 15px;
  margin-top: 10px;
  background-color: rgb(247, 245, 245);
}
.hesabadaxilol .form .social .asan a {
  margin-top: 10px;
  font-size: 15px;
  color: rgb(60, 58, 58);
  text-decoration-line: none;
}
.hesabadaxilol .form .social .facebook {
  display: flex;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
  width: 453px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgb(99, 99, 159);
  margin-left: 15px;
  margin-top: 10px;
  background-color: rgb(247, 245, 245);
}
.hesabadaxilol .form .social .facebook a {
  margin-top: 10px;
  font-size: 15px;
  color: rgb(60, 58, 58);
  text-decoration-line: none;
}
.hesabadaxilol .form .social .google {
  display: flex;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
  width: 453px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgb(99, 99, 159);
  margin-left: 15px;
  margin-top: 10px;
  background-color: rgb(247, 245, 245);
}
.hesabadaxilol .form .social .google a {
  margin-top: 10px;
  font-size: 15px;
  color: rgb(60, 58, 58);
  text-decoration-line: none;
}

.sifreniunutmusuz {
  margin-top: 2%;
  display: flex;
}
.sifreniunutmusuz .geriye {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2%;
  position: relative;
  left: 8%;
}
.sifreniunutmusuz .geriye i {
  background-color: rgb(192, 196, 200);
  padding: 10px 10px;
  border-radius: 50%;
  color: black;
}
.sifreniunutmusuz .img-password {
  left: 20px;
  margin-top: 30px;
  left: 0px;
}
.sifreniunutmusuz .img-password img {
  max-height: 80vh;
}
.sifreniunutmusuz .container-password {
  width: 550px;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 2px 2px 8px #aaa;
  margin-top: 9%;
}
.sifreniunutmusuz .container-password .up-text {
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
.sifreniunutmusuz .container-password .up-text h3 {
  color: grey;
}
.sifreniunutmusuz .container-password .form-group {
  position: relative;
  background-color: transparent;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  color: rgb(68, 65, 65);
}
.sifreniunutmusuz .container-password .form-group .user-icon {
  position: absolute;
  left: 10px;
  top: 45px;
  z-index: 3;
}
.sifreniunutmusuz .container-password .form-group .form-control {
  padding-left: 30px;
  position: relative;
  width: 450px;
  height: 30px;
  border-radius: 4px;
  margin-top: 20px;
  border: 1px solid #ddd;
  margin-top: 20px;
}
.sifreniunutmusuz .container-password .save-text-lock {
  width: 250px;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 2px 2px 8px #aaa;
  margin-top: 4%;
  display: flex;
  gap: 5px;
}
.sifreniunutmusuz .container-password .save-text-lock input {
  position: absolute;
  margin-top: 18px;
}
.sifreniunutmusuz .container-password .save-text-lock p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(69, 68, 68);
  margin-left: 11%;
}
.sifreniunutmusuz .container-password .save-text-lock img {
  position: relative;
  width: 70px;
  height: 50px;
  margin-left: 15px;
}
.sifreniunutmusuz .container-password .sifreniyenile {
  cursor: no-drop;
  padding: 12px 198px;
  border-radius: 4px;
  font-size: 20px;
  margin-top: 20px;
  border: 1px solid #ddd;
  margin-left: 2px;
  background-color: #1a75ff;
  color: #ddd;
  text-decoration-line: none;
}
.sifreniunutmusuz .container-password .sifreniyenile:hover {
  padding: 13px 200px;
  transition: 0.3s all ease;
}

.yeni-hesab {
  margin-top: 2%;
  display: flex;
}
.yeni-hesab .img-yenihesab {
  left: 20px;
}
.yeni-hesab .img-yenihesab img {
  max-height: 90vh;
}
.yeni-hesab .geriye-yenihesab {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: 8%;
}
.yeni-hesab .geriye-yenihesab i {
  background-color: rgb(192, 196, 200);
  padding: 10px 10px;
  border-radius: 50%;
  color: black;
}
.yeni-hesab .container-yenihesab {
  width: 550px;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 2px 2px 8px #aaa;
  margin-top: 8%;
}
.yeni-hesab .container-yenihesab .up-text {
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
.yeni-hesab .container-yenihesab .up-text h3 {
  color: grey;
}
.yeni-hesab .container-yenihesab .form-group {
  position: relative;
  background-color: transparent;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  color: rgb(68, 65, 65);
}
.yeni-hesab .container-yenihesab .form-group .user-icon {
  position: absolute;
  left: 10px;
  top: 45px;
  z-index: 3;
}
.yeni-hesab .container-yenihesab .form-group .form-control {
  padding-left: 30px;
  position: relative;
  width: 450px;
  height: 30px;
  border-radius: 4px;
  margin-top: 20px;
  border: 1px solid #ddd;
  margin-top: 20px;
}
.yeni-hesab .container-yenihesab .save-text-lock {
  padding: 10px;
  margin-top: 4%;
  display: flex;
  gap: 5px;
}
.yeni-hesab .container-yenihesab .save-text-lock input {
  position: absolute;
  margin-top: 19px;
}
.yeni-hesab .container-yenihesab .save-text-lock p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(69, 68, 68);
  margin-left: 6%;
}
.yeni-hesab .container-yenihesab .restart {
  cursor: pointer;
  padding: 12px 198px;
  border-radius: 4px;
  font-size: 20px;
  margin-top: 20px;
  border: 1px solid #ddd;
  margin-left: 2px;
  background-color: #1a75ff;
}
.yeni-hesab .container-yenihesab .restart a {
  color: #ddd;
  text-decoration-line: none;
}
.yeni-hesab .container-yenihesab .restart:hover {
  padding: 13px 200px;
  transition: 0.3s all ease;
}
.yeni-hesab .container-yenihesab .asan {
  display: flex;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
  width: 510px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgb(99, 99, 159);
  margin-left: 5px;
  margin-top: 10px;
  background-color: rgb(247, 245, 245);
}
.yeni-hesab .container-yenihesab .asan a {
  margin-top: 10px;
  font-size: 15px;
  color: rgb(60, 58, 58);
  text-decoration-line: none;
}
.yeni-hesab .container-yenihesab .veya-yenihesab {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(149, 144, 144);
  margin-top: 25px;
  margin-left: 40%;
}/*# sourceMappingURL=style.css.map */